*{
    padding: 0;
    margin: 0;
    outline: none;
    overflow-x: none;
}

body{
    max-width: 300px;
    margin: auto;
}

#Container{
    position: relative;
    z-index: 1000;
    left: 40%;
}
.bottom{
    display: flex;
}
.color{
    width: 150px;
    height: 150px;
    transition: transform 300ms;
}

.color:hover{
    transform: scale(0.9);
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.top{
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    display: grid;
    text-align: center;
    z-index: 1000;
}
.colorText{
    font: 3rem sans-serif; 
    display: none;
}

#time{
    position: absolute;
    text-align: center;
    width: 300px;
    font: 3rem sans-serif; 
    color: aliceblue;
}
#correct{
    position: absolute;
    color: lawngreen;
    text-shadow: 0px 0px 10px black;
    font: 3rem sans-serif; 
}
#checkmark, #wrong{
    pointer-events: none;
    position: absolute;
    width: 10%;
    left: 5%;
    top: -15%;
    z-index: 10000;
    opacity: 0;
}

.fadeAway{
    animation: fadeAway 500ms;
}

@keyframes fadeAway{
    0%{opacity: 1}
    50%{opacity: 1}
    100%{opacity: 0}
}

#start{
    font-size: 2rem;
    height: 100px;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    margin: 1rem auto;
    display: block;
}
#start{
    background-color: lightgreen;
}
#start:hover{
    background-color: aquamarine; 
}




/*######################### Animated BackGround #########################  */
@keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-moz-keyframes move-background {    
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
      @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  .background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
  }
  
  .stars {
   background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
      z-index: 0;
  }
  
  .twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      
      -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
    
  }
  
  .clouds{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
  
     -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
  }
  img{
    height: 70vh;
    width:70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }


  