* {
    padding: 0;
    margin: 0;
    outline: none;
    overflow-x: none;
}

body {
    max-width: 300px;
    margin: auto;
    height: 98vh;
    overflow-y: hidden;
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    position: relative;
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.bottom {
    display: flex;
}

.color {
    width: 150px;
    height: 150px;
    transition: transform 300ms;
}

.color:hover {
    transform: scale(0.9);
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.top {
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    display: grid;
    text-align: center;
    z-index: 1000;
}

.colorText {
    font: 3rem sans-serif;
    display: none;
}

#time {
    position: absolute;
    text-align: center;
    width: 300px;
    font: 3rem sans-serif;
    color: aliceblue;
}

#correct {
    position: absolute;
    color: lawngreen;
    text-shadow: 0px 0px 10px black;
    font: 3rem sans-serif;
}

#checkmark,
#wrong {
    pointer-events: none;
    position: absolute;
    width: 25%;
    left: 40%;
    top: 18%;
    z-index: 10;
    font-size: 100px;
    opacity: 0;
}

.fadeAway {
    animation: fadeAway 500ms;
}

@keyframes fadeAway {
    0% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

#start {
    font-size: 2rem;
    height: 100px;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    margin: 1rem auto;
    display: block;
}

#start {
    background-color: lightgreen;
}

#start:hover {
    background-color: aquamarine;
}